div.dialog{
    border: 0px solid #333;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:1px;
    min-height:500px;
    max-height:520px;
    padding-top: 25px;
    overflow: auto;
}

ul.dialog{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

div.message{
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    vertical-align:bottom;
}

div.message p{
    padding: 2px 5px 2px 20px;
    font-size: 16px;
    margin: 7px 0px 7px 0px;
}

div.message h5{
    margin: 0px 0px 5px 0px;
    font-weight:700;
}

div.message h6{
    margin: 7px 0px 0px 0px;
    font-weight:100;
}

div.message-to h6{
    text-align: right;
}

div.message-to{
    margin: 10px;
    margin-left:35%;
    background-color: rgba(174, 177, 234, 0.4);
}

.message-to.message-new{
    box-shadow: #7876f2 -5px 1px 1px;
}

.message-from.message-new{
    box-shadow: #7876f2 5px 1px 1px;
}

div.message-from{
    margin: 10px;
    margin-right:35%;
    background-color: rgba(181, 247, 222, 0.4);
}

div.message-error{
    margin: 10px 15% 10px 15%;
    background-color: rgba(247, 81, 71, 0.54);
    //border: 2px solid rgb(247, 81, 71);
}

div.message-input{
    margin-top:2px;
    padding: 0px;
}

div.typing{
    height:18px;
    padding: 2px 15px 0px 15px;
    font-family: Consolas;
    font-style: italic;
    font-weight: 600;
}

textarea.dialog {
    margin: 0px;
    width:100%;
    height:60px;
    resize: none;
}



li.dialog-list{
    border: 1px solid black;
    width: 100%;
    margin: 15px 0px 5px 0px;
    padding: 20px 10px 20px 10px;
}


button.three-dots {
    border: none;
    background: none;
    margin: 2px 5px 2px 5px;
    padding: 0px 5px 0px 5px;
}
button.three-dots:hover{
    background: #f2f5f7;
}